.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  justify-content: center;
  display: flex;
}

.App-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.Hero {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.Hero h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 100;
}

.App-footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  justify-content: center;
  display: flex;
}
