.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin: 25px;
}

.App-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  margin: 25px;
}

.Hero {
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin: 25px;
}
